extends baseEmail
block content
    p Hi #{firstName},
    p You successfully booked a tour! You can see your booking on: #{url} 
    table.btn.btn-primary(role='presentation', border='0', cellpadding='0', cellspacing='0')
        tbody
            tr
                td(align='left')
                    table(role='presentation', border='0', cellpadding='0', cellspacing='0')
                        tbody
                            tr
                                td
                                    a(href=`${url}`, target='_blank') Go to your booking!